import "../styles/globals.css";

export const metadata = {
  title: "イベントリスト",
  description: "イベント一覧を表示するページ",
};

export default function RootLayout({
  children,
}: {
  children: React.ReactNode;
}) {
  return (
    <html lang="jp">
      <body>{children}</body>
    </html>
  );
}
